@font-face {
	font-family: Basier;
	src: url("basiercircle-regular-webfont.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Basier;
	src: url("basiercircle-regularitalic-webfont.woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Basier;
	src: url("basiercircle-bold-webfont.woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: BasierMono;
	src: url("basiercirclemono-regular-webfont.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: BasierMono;
	src: url("basiercirclemono-bold-webfont.woff2");
	font-weight: bold;
	font-style: normal;
}