@font-face {
	font-family: Basier;
	src: url("@/assets/fonts/basiercircle-regular-webfont.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Basier;
	src: url("@/assets/fonts/basiercircle-regularitalic-webfont.woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Basier;
	src: url("@/assets/fonts/basiercircle-bold-webfont.woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: BasierMono;
	src: url("@/assets/fonts/basiercirclemono-regular-webfont.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: BasierMono;
	src: url("@/assets/fonts/basiercirclemono-bold-webfont.woff2");
	font-weight: bold;
	font-style: normal;
}