@import "Basier"; //? default font

$font-family-sans-serif: Basier, Helvetica, Arial, sans-serif;
$font-family-monospace: BasierMono, Courier, monospace;
$font-size-root: 16px;
$headings-font-weight: 700;
$h1-font-size: 5.653rem;
$h2-font-size: 3.998rem;
$h3-font-size: 2.827rem;
$h4-font-size: 1.999rem;
$h5-font-size: 1.414rem;
$h6-font-size: 1rem;

//! no bootstrap overrides beyond this point!
@import "bootstrap/scss/bootstrap.scss";

